@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--clr-primary-orange-400: hsl(25, 97%, 53%);

	--clr-neutral-100: hsl(0, 100%, 100%);
	--clr-neutral-400: hsl(215, 7%, 53%);
	--clr-neutral-500: hsl(217, 12%, 63%);
	--clr-neutral-700: hsl(213, 19%, 18%);
	--clr-neutral-750: hsl(214, 21%, 20%);
	--clr-neutral-800: hsl(228, 11%, 9%);
	--clr-neutral-900: hsl(216, 12%, 8%);

	--fs-base: 0.9375rem;

	--ff-base: "Overpass", sans-serif;

	--fw-base: 400;
	--fw-strong: 700;
}

@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
		padding: 0;
	}

	@media (prefers-reduced-motion: no-preference) {
		html {
			interpolate-size: allow-keywords;
		}
	}

	body {
		/* 4. Add accessible line-height */
		line-height: 1.5;
		/* 5. Improve text rendering */
		-webkit-font-smoothing: antialiased;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}
}

body {
	font-size: var(--fs-base);
	font-weight: var(--fw-base);
	font-family: var(--ff-base);
	background-color: var(--clr-neutral-800);
	line-height: 1.6;
	color: var(--clr-neutral-500);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: clamp(1.5rem, 3vw + 1rem, 3rem);
}

.rating-component {
	background-color: var(--clr-neutral-700);
	border-radius: 18px;
	max-width: 420px;
	padding-block-start: clamp(2rem, 2vw + 1rem, 2rem);
	padding-block-end: clamp(1.5rem, 5vw + 1rem, 3rem);
	padding-inline: clamp(1.5rem, 2vw + 1rem, 2rem);
	margin-block-end: clamp(2rem, 7vw + 1rem, 4rem);
	display: flex;
	flex-direction: column;
	gap: clamp(1rem, 1vw + 1rem, 1.5rem);
}

.rating-component .round-bg {
	background-color: var(--clr-neutral-750);
	width: max-content;
	padding: 1rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rating-component img {
	justify-self: center;
	align-self: center;
	width: 20px;
}

.rating-component .rating-text h1 {
	color: var(--clr-neutral-100);
	font-weight: 500;
	font-size: clamp(1.5rem, 3vw + 1rem, 1.8rem);
	margin-block-end: clamp(0.8rem, 2vw, 1rem);
	letter-spacing: 1.1px;
}

.rating-component .rating-text p {
	color: var(--clr-neutral-400);
	font-size: clamp(0.85rem, 3vw, var(--fs-base));
}

.rating-component .rating-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-block: clamp(0.2rem, 2vw + 0.5rem, 0.4rem);
}

.rating-component .rating-list button {
	background-color: var(--clr-neutral-750);
	width: clamp(45px, 5vw + 1rem, 50px);
	height: clamp(45px, 5vw + 1rem, 50px);
	padding: 1rem;
	border-radius: 50%;
	border: none;
	line-height: normal;
	color: var(--clr-neutral-500);
	cursor: pointer;
	transition: background-color 0.15s ease-in;
}

.rating-component .rating-list button:hover {
	background-color: var(--clr-primary-orange-400);
	color: var(--clr-neutral-900);
}

.rating-component .submit-button {
	background-color: var(--clr-primary-orange-400);
	border-radius: 2rem;
	text-transform: uppercase;
	line-height: normal;
	padding-block: clamp(0.5rem, 1vw + 1rem, 0.8rem);
	color: var(--clr-neutral-900);
	font-weight: var(--fw-strong);
	font-size: clamp(1rem, 2vw + 0.5rem, 1.2rem);
	letter-spacing: 1.5px;
	border: none;
	transition: all 0.15s ease;
	cursor: pointer;
}

.rating-component .submit-button:hover,
.rating-component .submit-button:focus-visible {
	color: var(--clr-neutral-900);
	background-color: var(--clr-neutral-100);
}
